@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #191b23;
  --font-body: var(--font-sans), ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-code: var(--font-mono), ui-monospace, monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

/* Custom Scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E2E8F0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

/* Timeline/Activity Log Line styling */
.activity-feed-line::before {
  content: '';
  position: absolute;
  left: 11px;
  top: 24px;
  bottom: -8px;
  width: 1px;
  background-color: #E2E8F0;
}

.activity-feed-item:last-child::before {
  display: none;
}

/* Selection */
::selection {
  background: rgba(0, 74, 198, 0.15);
  color: #004ac6;
}
